
* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #a8bfe1;;
}

.system-header {
    background-color: #0644a2;
    border: 2px solid #0644a2;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.page-header {
    text-align: center;
    padding: 20px;
}

.page-header h1 {
    margin: 0;
    font-size: 2rem;
    color: #ffffff;
}

.page-header p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #ffffff;
}

.header-section {
    border-left: 6px solid #1e5cb3;
    padding: 15px 0 15px 15px;
    margin: 30px 0;
    background: transparent;
}

.header-section h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #04052a;
}

.card-grid {
    display: flex;           
    flex-wrap: nowrap;       
    gap: 30px;              
    padding: 40px;
    overflow-x: auto;        
}


.flight-card {
    background: #94b9e3;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(25, 12, 143, 0.15);
    transition: transform 0.3s ease;
}

.flight-card:hover {
    transform: translateY(-8px);
}

.flight-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-section {
    padding: 18px;
}

.card-section h2 {
    text-align: center;
    color: #0d47a1;
    margin-bottom: 12px;
}

.card-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer {
    background-color: #0644a2;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}
